include README.rst
include LICENSE.txt
recursive-include fachschaftsempfaenger/static *
recursive-include fachschaftsempfaenger/templates *
recursive-include fachschaftsempfaenger/templatetags *
recursive-include docs *
